/**
 * E-mergo Table Inspector Styles
 *
 * @package E-mergo Tools Bundle
 */

.qs-emergo-table-inspector {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.qs-emergo-table-inspector .object-container {
	flex: 1;
}

.qs-emergo-table-inspector.no-interaction {
	pointer-events: none;
}

.qs-emergo-table-inspector .inspector-loading {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.qs-emergo-table-inspector .modal-loader {
	height: 38px;
	width: 38px;
	display: inline-block;
}

.qs-emergo-table-inspector.loading .inspector-loading ~ div,
.qs-emergo-table-inspector:not(.loading) .inspector-loading,
.qs-emergo-table-inspector.table-selected > .requirements-wrapper,
.qs-emergo-table-inspector.profile-selected > .requirements-wrapper,
.qs-emergo-table-inspector:not(.table-selected, .profile-selected) .object-container,
.qs-emergo-table-inspector:not(.table-selected, .profile-selected) .qv-footer-wrapper {
	display: none;
}

.qs-emergo-table-inspector .button {
	height: 32px;
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 10px;
	position: relative;
}

.qv-layout-small .qs-emergo-table-inspector .button,
.qv-layout-xsmall .qs-emergo-table-inspector .button,
.qv-layout-spark .qs-emergo-table-inspector .button {
	height: 28px;
	width: 150px;
}

.qs-emergo-table-inspector .requirements .incomplete-text .lui-button {
	margin: 6px auto;
}

.qs-emergo-table-inspector .convert-to-table {
	display: block;
}

.qs-emergo-table-inspector .qv-footer-wrapper {
	display: flex;
	flex-direction: row;
	padding: 0px !important;
	font-weight: normal;
	text-decoration: initial;
}

.qs-emergo-table-inspector .qv-footer-wrapper .qv-object-footnote.qvt-visualization-footnote {
	flex: 1;
	padding: 6px 10px;
}

.qs-emergo-table-inspector .qv-footer-wrapper .footnote:nth-of-type(n+2) {
	margin-left: 24px;
}

.qs-emergo-table-inspector .qv-footer-wrapper .quick-action .lui-button {
	height: 30px;
	padding: 6px 10px;
	font-size: 1em;
	font-weight: normal;
	line-height: 1.4em;
	border: 0px;
}

.qs-emergo-table-inspector .qv-footer-wrapper .quick-action .lui-button:focus span,
.qs-emergo-table-inspector .qv-footer-wrapper .quick-action .lui-button:hover span,
.qs-emergo-table-inspector .qv-footer-wrapper .quick-action .lui-button:active span {
	text-decoration: underline;
}

.qs-emergo-table-inspector .qv-footer-wrapper .quick-action .lui-button:active {
	background: none;
	box-shadow: none;
}

/* Card-based themes */

.qv-client.qv-card #qv-stage-container #grid .qv-object-qs-emergo-table-inspector .qv-object-header.thin,
.touch-off .qv-client.qv-card #qv-stage-container #grid .qv-object-qs-emergo-table-inspector .qv-object-header.thin {
	height: 0px !important;
	border: 0px;
}

.qv-client.qv-card #qv-stage-container #grid .qv-object-qs-emergo-table-inspector .qv-inner-object {
	padding: 0px;
}

.qv-client.qv-card #qv-stage-container #grid .qv-object-qs-emergo-table-inspector .qv-object-wrapper .qv-object {
	border: 0px;
}
