#qs-emergo-extension-documentation,
#qs-emergo-extension-documentation * {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#qs-emergo-extension-documentation {
	font-family: Dosis, sans-serif;
	font-size: 15px;
	line-height: 1.4em;
	color: #5d5d5d;
	background: #fff;
	background: -webkit-linear-gradient(left, #125c69 0%, #125c69 50%, #fff 50%, #fff 100%);
	background: -o-linear-gradient(left, #125c69 0%, #125c69 50%, #fff 50%, #fff 100%);
	background: linear-gradient(to right, #125c69 0%, #125c69 50%, #fff 50%, #fff 100%);
	background-repeat: no-repeat;
}

#qs-emergo-extension-documentation h1,
#qs-emergo-extension-documentation h2,
#qs-emergo-extension-documentation h3,
#qs-emergo-extension-documentation h4,
#qs-emergo-extension-documentation h5,
#qs-emergo-extension-documentation h6 {
	color: #a9d039 /*#60a649*/;
	font-weight: 700;
	font-size: revert;
}

#qs-emergo-extension-documentation a,
#qs-emergo-extension-documentation a:visited {
	color: #a9d039 /*#60a649*/;
	text-decoration: underline;
	font-weight: 700;
}

#qs-emergo-extension-documentation a:hover {
	text-decoration: underline;
}

#qs-emergo-extension-documentation .container {
	width: 100%;
	max-width: 968px;
	min-height: 100vh;
	margin: 0px auto;
	display: -ms-grid;
	display: grid;
	grid-template-columns: 260px auto;
	grid-template-rows: auto;
	grid-template-areas:
		". main"
		". footer";
	grid-gap: 0px 15px;
	background:#fff;
}

#qs-emergo-extension-documentation #header {
	position: fixed;
	width: 260px;
	height: 100%;
	display: -ms-grid;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-template-areas:
		"header"
		"nav";
	grid-gap: 15px 0px;
	color: #fff;
	background: #125c69;
	border-right: 1px solid #f5f5f5;
}

#qs-emergo-extension-documentation.modal-content #header {
	height: calc(93% - 86px);
}

#qs-emergo-extension-documentation #header hgroup {
	grid-area: header;
	padding: 30px 15px 15px;
}

#qs-emergo-extension-documentation #header .button-link,
#qs-emergo-extension-documentation #header a,
#qs-emergo-extension-documentation #header a:visited {
	background: none;
	color: #fff;
	text-decoration: none;
	font-family: Dosis, sans-serif;
	font-size: 15px;
	font-weight: normal;
	border: none;
	cursor: pointer;
}

#qs-emergo-extension-documentation #header .button-link {
	padding: 0px 0px 1px 4px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#qs-emergo-extension-documentation #header .button-link:hover,
#qs-emergo-extension-documentation #header a:hover {
	text-decoration: underline;
}

#qs-emergo-extension-documentation #header .button-link span {
	text-overflow: ellipsis;
}

#qs-emergo-extension-documentation #header .emergo-brand {
	display: inline-block;
	display: none;
	width: 100%;
	text-align: center;
}

#qs-emergo-extension-documentation #header .emergo-brand .emergo-logo {
	width: 120px;
}

#qs-emergo-extension-documentation #page-title {
	margin: 0px 0px 40px;
	font-size: 1.5em;
	width: 100%;
	color: #fff;
}

#qs-emergo-extension-documentation #page-title ~ span {
	display: block;
	margin: 15px 0px 5px;
}

#qs-emergo-extension-documentation #extension-title {
	font-weight: bold;
}

#qs-emergo-extension-documentation #navigation {
	grid-area: nav;
	padding: 0px 15px 15px;
	overflow-x: hidden;
	overflow-y: auto;
	counter-reset: h2;
}

#qs-emergo-extension-documentation #navigation ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#qs-emergo-extension-documentation.modal-content #navigation li {
	display: flex;
}

#qs-emergo-extension-documentation #navigation li {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 6px 0px;
}

#qs-emergo-extension-documentation #navigation li.level-2 {
	margin-top: 12px;
}

#qs-emergo-extension-documentation #navigation li.level-3 {
	margin-left: 8px;
}

#qs-emergo-extension-documentation #navigation li.level-4 {
	margin-left: 16px;
}

#qs-emergo-extension-documentation #navigation li.level-5 {
	margin-left: 24px;
}

#qs-emergo-extension-documentation #navigation li.level-6 {
	margin-left: 32px;
}

#qs-emergo-extension-documentation #content {
	grid-area: main;
	counter-reset: h2;
	padding: 15px;
}

#qs-emergo-extension-documentation #content,
#qs-emergo-extension-documentation #footer {
	min-width: 0;
	padding-left: 40px;
}

#qs-emergo-extension-documentation #no-csp {
	display: none;
}

#qs-emergo-extension-documentation #content h2 {
	margin: 30px 0px 12px;
}

#qs-emergo-extension-documentation #content h3,
#qs-emergo-extension-documentation #content p,
#qs-emergo-extension-documentation #content pre {
	margin: 15px 0px 8px;
}

#qs-emergo-extension-documentation #content h4,
#qs-emergo-extension-documentation #content h5,
#qs-emergo-extension-documentation #content h6 {
	margin: 15px 0px 8px 12px;
}

#qs-emergo-extension-documentation #content ul,
#qs-emergo-extension-documentation #content ol {
	margin: 8px 0px;
	padding: 0px 0px 0px 30px;
}

#qs-emergo-extension-documentation #content li {
	margin-bottom: 5px;
}

#qs-emergo-extension-documentation #content h2,
#qs-emergo-extension-documentation #navigation li.level-2 {
	counter-increment: h2;
	counter-reset: h3;
}

#qs-emergo-extension-documentation #content h3,
#qs-emergo-extension-documentation #navigation li.level-3 {
	counter-increment: h3;
}

#qs-emergo-extension-documentation.readme-loaded #content h2:before,
#qs-emergo-extension-documentation #navigation li.level-2:before {
	content: counter(h2) ". ";
}

#qs-emergo-extension-documentation.readme-loaded #content h3:before,
#qs-emergo-extension-documentation #navigation li.level-3:before {
	content: counter(h2) "." counter(h3) ". ";
}

#qs-emergo-extension-documentation #content pre {
	position: relative;
	font-family: monospace;
	font-size: 13px;
	background: #f4f4f4;
	white-space: pre;
	overflow: hidden;
}

#qs-emergo-extension-documentation #content pre button {
	position: absolute;
	top: 12px;
	right: 15px;
	padding: 2px 4px;
	cursor: pointer;
}

#qs-emergo-extension-documentation #content pre div {
	padding: 15px 20px;
	overflow-x: auto;
}

#qs-emergo-extension-documentation #content :not(pre) code {
	padding: 10px;
	font-family: monospace;
	font-size: 13px;
	background: #f4f4f4;
	border: 1px solid #f4f4f4;
	padding: 0px 2px;
}

#qs-emergo-extension-documentation #footer {
	grid-area: footer;
	display: flex;
	flex-direction: column;
	justify-content: end;
	padding: 0px 15px 15px;
}

#qs-emergo-extension-documentation #footer-nav {
	border-top: 1px solid #125c69;
	display: -ms-grid;
	display: grid;
	grid-template-columns: 3fr 5fr;
	grid-template-rows: auto;
	grid-template-areas: "footer-left footer-right";
	grid-gap: 30px;
	padding: 25px 0px 15px;
}

#qs-emergo-extension-documentation #footer-nav .logo {
	grid-area: footer-left;
}

#qs-emergo-extension-documentation #footer-nav .logo .emergo-logo {
	width: 80px;
}

#qs-emergo-extension-documentation #footer-nav .social {
	grid-area: footer-right;
	text-align: right;
}

#qs-emergo-extension-documentation #footer-content {
	font-style: italic;
	padding-bottom: 10px;
}

/* Modal */

.lui-modal-background:not(.lui-fade):has(+ .qs-emergo-modal) {
	opacity: .5;
}

.qs-emergo-modal .lui-dialog__header {
	display: flex;
	justify-content: space-between;
	height: 24px;
	padding: 12px 8px 12px 12px;
	box-sizing: content-box;
	background-color: #fafafa;
	border-bottom: 1px rgba(0, 0, 0, 0.15) solid;
	line-height: 24px;
}

.qs-emergo-modal .lui-dialog__title {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.qs-emergo-modal .qs-emergo-modal-close {
	height: 30px;
	margin-top: -2px;
	padding: 7px;
	background: transparent;
	border: none;
	cursor: pointer;
}
